
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
table{
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
}
tr{
    border-bottom: 1px solid #cbcbcb;
}

th,td{
    border:none;
    height:30px;
    padding:2px;
    overflow: hidden;
}
tr:hover{
    background: #f5f5f5;
}

form{
    width:45%;
    margin: 50px auto;
    text-align:left;
    padding:20px;
    border:1px solid #bbbb;
    border-radius: 5px;
}

.input-group{
    margin:10px 0px 10px 0px;
}
.input-group label{
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input{
    height:30px;
    width:93%;
    padding:5px 10px;
    font-size:16px;
    border-radius:5px;
    border:1px solid gray;
}
.btn{
    padding:10px;
    font-size:15px;
    color:white;
    background: #1A61F9;
    border:none;
    border-radius: 5px;
}
.edit_btn{
    text-decoration: none;
    padding: 2px 5px;
    background: green;
    color:white;
    border-radius: 3px;
}

.del_btn{
    text-decoration: none;
    padding: 2px 5px;
    background: #800000;
    color:white;
    border-radius: 3px;
}

.actionclass{
    text-align: center;
    font-size:25px;
}
.editclass{
    text-align: right;
}
.updateclass{
    text-align:left;
}
/*admin dashboard*/

a{
    text-decoration: none;
    color:#eee;
}
header{
    width: 100%;
    height:100%;
}

.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
nav{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Segoe UI';
    flex-wrap: wrap;
    min-width: 300px;
    width: 100%;
    height: 100%;
    

}
@media all and (max-width: 800px){
    
    nav{flex-direction: column}
    
    nav ul{
        flex-direction: column;
        float:left;
    }
    nav ul li {
        text-align:center;
        padding: 20px;
    }
    
    
    
    nav ul li:last-child{
        margin-top: 12px;
        margin-bottom: 20px;
    }
}
.brand{
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Segoe UI';
    transform: translateX(-100rem);
    animation: slideIn .5s forwards;
}
.brand span{
    color:#1A61F9;
}

.brand a{color:black}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    transform: translateX(100rem);
    animation: slideIn .5s forwards
}

nav ul li:nth-child(1){
    animation-delay: 0s;
}
nav ul li:nth-child(2){
    animation-delay: .5s;
}
nav ul li:nth-child(3){
    animation-delay: 1s;
}
nav ul li:nth-child(4){
    animation-delay: 1.5s;
}
nav ul li:nth-child(5){
    animation-delay: 2s;
}
nav ul li:nth-child(6){
    animation-delay: 2.5s;
}
nav ul li a {
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    color:#333333;
    font-size: 15px;
}

nav ul li a:last-child{
    margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #1A61F9;
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
}

nav ul li a::before{
    top: 0;
    transform-origin: left;
}
nav ul li a::after{
    bottom: 0;
    transform-origin: right;
}


nav ul li a:hover::before,
nav ul li a:hover::after{
    transform: scaleX(1);
    
}

@keyframes slideIn{
    from{

    }
    to{
        transform: translateX(0);
    }
}
.logoutButton{
    
    padding: 12px;
    color: #1a61ff;
    border-left: 2px solid #1a61ff;
    border-right: 2px solid #1a61ff;
}

/*body > header > div > nav > h1 > a{color:}*/